---
title: Contact - Magicians &amp; Looters
---

<div class="head">
  <div class="head-contact"></div>
</div>

<div id="contact-container">
<% config[:devs].each do |dev| %>
  <div class="contact-block">
    <div class="contact-<%= dev[:name] %>"></div>
    <div class="contact-info-container">
      <div class="contact-<%= dev[:name] %>-name"></div>
      <div class="contact-types">
        <% if dev[:type1] %>
          <a class="<%= dev[:type1] %>" title="<%= dev[:type1] %>" href="<%= dev[:url1] %>" target="_blank"></a>
        <% end %>
        <% if dev[:type2] %>
          <a class="<%= dev[:type2] %>" title="<%= dev[:type2] %>" href="<%= dev[:url2] %>" target="_blank"></a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>