---
title: Press - Magicians &amp; Looters
---

<div class="head">
  <div class="head-press"></div>
</div>

<div class="mal-container">
  <h2>Reviews</h2>
  <div>
    <% config[:reviews].each do |review| %>
    <a href="<%= review[:url] %>" title="<%= review[:title] %>" class="review" rel="nofollow noopener" target="_blank">
      <div style='font-size:4em;white-space:nowrap'><%= review[:score] %></div>
      <div style='font-size:2em'><%= review[:author] %></div>
      <div><%= review[:site] %></div>
    </a>
    <% end %>
  </div>

  <h2>Mentions</h2>
  <ul>
    <% config[:mentions].each do |mention| %>
    <li><a href="<%= mention[:url] %>" title="<%= mention[:title] %>" rel="nofollow noopener" target="_blank"><%= mention[:site] %> - <%= mention[:author] %></a></li>
    <% end %>
  </ul>
</div>